/* line 1, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
* {
  margin: 0;
  padding: 0;
  font-family: 'M PLUS Rounded 1c', sans-serif; }

/* line 29, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
body .infiniteslide {
  background-color: #e9e9d1; }

/* line 34, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
header {
  text-align: center;
  color: #333;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e9e9d1; }
  /* line 45, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
  header h1 {
    font-size: 3rem;
    padding-top: 2vh; }
  /* line 50, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
  header .info {
    display: flex;
    justify-content: center;
    align-items: baseline; }
    /* line 55, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
    header .info a {
      color: #333;
      text-decoration: none; }
      /* line 59, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
      header .info a :hover {
        color: #697268; }

/* line 70, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
.infiniteslide {
  padding-top: 2vh; }

/* line 74, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
.grid {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: #e9e9d1;
  margin: 0 2vw;
  height: 37vw; }

/* line 79, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
.grid-short {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: #e9e9d1;
  margin: 0 2vw;
  height: 18.5vw; }

/* line 84, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
.tile-wrapper-s {
  box-sizing: border-box;
  border-radius: 4vw;
  margin-bottom: 0.5vw;
  margin-right: 0.5vw;
  border: 0.4vw solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18vw;
  width: 18vw;
  display: flex;
  justify-content: center;
  align-items: center; }
  /* line 92, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
  .tile-wrapper-s .fas,
  .tile-wrapper-s .fab {
    color: #fff;
    font-size: 11vw; }

/* line 100, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
.tile-wrapper-l {
  box-sizing: border-box;
  border-radius: 4vw;
  margin-bottom: 0.5vw;
  margin-right: 0.5vw;
  border: 0.4vw solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36.5vw;
  width: 36.5vw;
  display: flex;
  justify-content: center;
  align-items: center; }
  /* line 109, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
  .tile-wrapper-l .fas,
  .tile-wrapper-l .fab {
    color: #fff;
    font-size: 18vw; }

/* line 118, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
.grid-type-1 .tile:nth-child(n+7) {
  margin-right: 0; }

/* line 124, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
.grid-type-2 .tile:nth-child(n+4) {
  margin-right: 0; }

/* line 130, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
.grid-type-3 .tile:nth-child(n+7) {
  margin-right: 0; }

/* line 136, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
.grid-type-4 .tile:nth-child(n+4) {
  margin-right: 0; }

/* line 142, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
.grid-type-5 .tile:nth-child(n+5) {
  margin-right: 0; }

/* line 148, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
.grid-type-6 .tile:nth-child(n+4) {
  margin-right: 0; }

/* line 154, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
.grid-type-7 .tile:nth-child(n+6) {
  margin-right: 0; }

/* line 160, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
.grid-type-8 .tile:nth-child(n+4) {
  margin-right: 0; }

/* line 165, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
.tile-green {
  background: #67bc7f; }

/* line 169, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
.tile-blue {
  background: #40789c; }

/* line 173, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
.tile-gray {
  background: #697268; }

/*# sourceMappingURL=style.css.map */