/* line 1, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
* {
  margin: 0;
  padding: 0; }

/* line 35, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
body {
  background: #e9e9d1; }

/* line 40, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
.grid {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: #e9e9d1;
  margin: 0 2vw;
  height: 37vw; }

/* line 45, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
.grid-short {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: #e9e9d1;
  margin: 0 2vw;
  height: 18.5vw; }

/* line 50, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
.tile-wrapper-s {
  box-sizing: border-box;
  border-radius: 50px;
  margin-bottom: 0.5vw;
  margin-right: 0.5vw;
  border: 5px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18vw;
  width: 18vw; }
  /* line 18, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
  .tile-wrapper-s .fas {
    font-size: 10%;
    color: #fff; }

/* line 56, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
.tile-wrapper-l {
  box-sizing: border-box;
  border-radius: 50px;
  margin-bottom: 0.5vw;
  margin-right: 0.5vw;
  border: 5px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36.5vw;
  width: 36.5vw; }
  /* line 18, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
  .tile-wrapper-l .fas {
    font-size: 10%;
    color: #fff; }

/* line 64, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
.grid-type-1 .tile:nth-child(n+7) {
  margin-right: 0; }

/* line 70, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
.grid-type-2 .tile:nth-child(n+4) {
  margin-right: 0; }

/* line 76, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
.grid-type-3 .tile:nth-child(n+7) {
  margin-right: 0; }

/* line 82, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
.grid-type-4 .tile:nth-child(n+4) {
  margin-right: 0; }

/* line 88, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
.grid-type-5 .tile:nth-child(n+5) {
  margin-right: 0; }

/* line 94, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
.grid-type-6 .tile:nth-child(n+4) {
  margin-right: 0; }

/* line 100, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
.grid-type-7 .tile:nth-child(n+6) {
  margin-right: 0; }

/* line 106, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
.grid-type-8 .tile:nth-child(n+4) {
  margin-right: 0; }

/* line 112, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
p {
  color: #fff;
  font-size: 10vw; }

/* line 117, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
.tile-green {
  background: #67bc7f; }

/* line 121, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
.tile-blue {
  background: #40789c; }

/* line 125, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
.tile-gray {
  background: #697268; }

/*# sourceMappingURL=style.css.map */