/* line 1, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
* {
  margin: 0;
  padding: 0;
  font-family: 'M PLUS Rounded 1c', sans-serif; }

/* line 30, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
body .infiniteslide {
  background-color: #e9e9d1; }

/* line 35, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
header {
  text-align: center;
  color: #333;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #96bdc6; }
  /* line 46, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
  header h1 {
    font-size: 3rem;
    padding-top: 2vh; }
  /* line 51, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
  header .info {
    display: flex;
    justify-content: center;
    align-items: baseline; }
    /* line 56, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
    header .info a {
      color: #333;
      text-decoration: none; }
      /* line 60, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
      header .info a :hover {
        color: #697268; }

/* line 70, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
.grid {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: #e9e9d1;
  margin: 0 2vw;
  height: 37vw; }

/* line 75, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
.grid-short {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: #e9e9d1;
  margin: 0 2vw;
  height: 18.5vw; }

/* line 80, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
.tile-wrapper-s {
  box-sizing: border-box;
  border-radius: 4vw;
  margin-bottom: 0.5vw;
  margin-right: 0.5vw;
  border: 0.4vw solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18vw;
  width: 18vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none; }
  /* line 88, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
  .tile-wrapper-s .fas,
  .tile-wrapper-s .fab {
    color: #fff;
    font-size: 11vw;
    text-decoration: none;
    z-index: 1; }
  /* line 98, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
  .tile-wrapper-s div {
    text-decoration: none; }

/* line 104, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
.tile-wrapper-l {
  box-sizing: border-box;
  border-radius: 4vw;
  margin-bottom: 0.5vw;
  margin-right: 0.5vw;
  border: 0.4vw solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36.5vw;
  width: 36.5vw;
  display: flex;
  justify-content: center;
  align-items: center; }
  /* line 113, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
  .tile-wrapper-l .fas,
  .tile-wrapper-l .fab {
    color: #fff;
    font-size: 18vw; }

/* line 122, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
.grid-type-1 .tile:nth-child(n+7) {
  margin-right: 0; }

/* line 128, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
.grid-type-2 .tile:nth-child(n+4) {
  margin-right: 0; }

/* line 134, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
.grid-type-3 .tile:nth-child(n+7) {
  margin-right: 0; }

/* line 140, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
.grid-type-4 .tile:nth-child(n+4) {
  margin-right: 0; }

/* line 146, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
.grid-type-5 .tile:nth-child(n+5) {
  margin-right: 0; }

/* line 152, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
.grid-type-6 .tile:nth-child(n+4) {
  margin-right: 0; }

/* line 158, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
.grid-type-7 .tile:nth-child(n+6) {
  margin-right: 0; }

/* line 164, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
.grid-type-8 .tile:nth-child(n+4) {
  margin-right: 0; }

/* line 169, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
.tile-green {
  background: #5fad56; }

/* line 173, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
.tile-blue {
  background: #a5c323; }

/* line 177, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
.tile-gray {
  background: #bfae48; }

/* line 181, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
footer {
  background: #96bdc6;
  color: #333;
  text-align: center;
  padding: 0.3rem 0; }
  /* line 187, /Users/obayashitakumi/myproducts/l4s-original-product/css/style.scss */
  footer p {
    display: inline; }

/*# sourceMappingURL=style.css.map */